<%- include('head'); %>
<%if(error === null){ %>
<div class="weather">
    <div class="location"><%= city %></div>
    <div class="temp"><%= temp %></div>
    <div class="description"><%= desc %></div>
</div>

<form id="changeCityForm" method="post" action="/">
    <div id="cityField">
        <label id="city" for="changeCityValue">Change city</label>
        <input type="text"  id="changeCityValue" name="cityname">
    </div>
    <input type="submit" value="Save Changes" class="button-29">
</form>
<% } else { %>
    <div class="weather" role="alert">
        <%= error%>
    </div>
        <div class="centrify">
        <a href="/" class="button-29 ">Try again</a>
        </div>
<% } %>
<%- include('footer'); %>
